body {
  margin: 0;
  padding: 10px 0 0 0;
  font-family: sans-serif;

}

.menuStyle {
  padding-top: 5px;
  padding-bottom: 5px;
  background-color: #222;
}

.clockClass {
color:white;
font-size: 20px;

}
